.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89vh;
}
.login-dialog{
    border: 2px solid #4b9cd3;
    width: 30%;
    border-radius:5px;
}
.login-heading{
    background-color: #4b9cd3;
    color:white;
    height: 30px;
    margin: auto;
    display: flex;
    align-items:center ;
    padding-left: 5px;
}
.login-form{
    border: 2px solid #4b9cd3;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.row-container{
    display:flex ;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.input-field{
    /* margin-left: 20px; */
    border: 2px solid lightgrey;
    height: 25px;
    border-radius: 5px;
    width: 60%;
    outline: none;
    font-family: cursive;
    padding-left: 8px;
}
label{
    font-weight: bold;
    font-family:cursive
}
.submit-btn{
    height: 35px;
    width: 90px;
    border: 0px;
    border-radius: 5px;
    background-color: #4b9cd3;
    color: white;
    margin-left: 36%;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 20px;
}
.reqErr{
    margin-left: 36%;
}
.errorMsg{
    color:red;
}
.successMsg{
    color:green;
}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;

}
.site-name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    color:#e75480;
    font-size: 20px;
}
.logout-btn{
    font-weight: bold;
    color:#e75480;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}