.container{
    margin-top: 50px;
    border: 2px solid #4b9cd3;
    width: 50vw;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.title{
    color:white;
    background-color: #4b9cd3;
    padding-top:5px ;
    padding-bottom: 5px;
    padding-left: 5px;
    align-self: stretch;
}
.custom-btn{
    color:white;
    border-radius: 5px;
    padding: 8px;
    border: 0px;
    background-color: #4b9cd3;
    cursor:pointer;
    margin-bottom: 20px;
    margin-right: 10px;
}
table,th,td{
    border:1px solid black;
    border-collapse: collapse;
    border-color: lightgrey;
    padding-right: 20px;
    text-align: center;
}
table{
    width:48vw;
    margin-bottom: 20px;
    margin-top: 10px;
}
th,td{
    height: 35px;
}
th{
    /* background-color: #4b9cd3; */
    color:black;
}
.redBtn{
    background-color: #FF033E;
    margin-top: 15px;
}